<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"> <!--подключение шаблонизатора thymeleaf-->
<head>
    <title>Жанры</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css"> <!--подключение файлов css-->
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<!--insert - встраивает фрагмент внутрь тега "путь :: фрагмент"-->
<div class="container mt-5">
    <!--container - встроенный класс, добавляющий отступы. mt-5 - отступы сверху, равные 5-ти пикс-->
    <h1>Выберите жанр</h1>

    <div sec:authorize="hasAuthority('ADMIN')">
        <div class="btn-group"><a th:href="'/genre/add'" class="btn an" style="color: #fff; background-color: #ef2323; border-color: #ef2323">Добавить жанр</a></div>
    </div>

    <div class="album py-5 bg-light">
        <div class="container">
            <div style="display: inline-grid">
                <div class="col an" th:each="el : ${genres}" >
                    <div class="btn-cont">
                        <a th:href="'/books/' + ${el.id}" class="btn" style="width:150px;height:40px;color: #fff; background-color: #ef2323; border-color: #ef2323" th:text="${el.name}"></a> <!--type="submit" - перезагрузка страницы и отправка данных на сервер при нажатии на кнопку-->
                        <p>&nbsp&nbsp</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<!--insert - встраивает фрагмент внутрь тега "путь :: фрагмент"-->
</body>
</html>